
h1 {
backgroun-color: #FFE066;
text-align: center;
}

h2, h3, h4 {
text-align: center;
font-size: 32px;
color: #B39DDB;
}

table {
margin: 20px auto;
width: 80%;
border-spacing: 15px;
border-collapse: collapse;
}


td {
text-align: center;
vertical-align: middle;
position: relative;
}

table img {
width: 200px;
height: 200px;
border-radius: 10px;
box-shadow: 0 4px 8px;
transition: transform 0.3s;
}

table img:hover {
transform: scale(1.1);
}

table p {
font-size: 14px;
color: #333;
font-weight: bold;
margin-top: 10px;
}

table .name {
display: none;
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
font-size: 10px;
color: #fff;
background-color: black;
padding: 5px 10px;
border-radius: 5px;
z-index: 10;
}

table td:hover .name {
display: block;
}

a {
display: block;
text-align: center;
margin: 20px auto;
text-decoration: none;
}

a img {
transition: transform 0.3s;
}

a img:hover {
transform: scale(1.2);
}

