
body {
font-family: 'Arial', sans-serif;
background-image: url('image/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
height: 800px;
}

table {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 6px;
text-align: center;
}

img {
width: 70%;
margin-bottom: 20px;
}

p {
font-size: 22px;
color: #5A5A5A;
margin-bottom: 20px;
}

button {
background-color: #D291BC;
border: none;
padding: 10px 20px;
margin: 10px;
font-size: 16px;
font-weight: bold;
color: white;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

button:hover {
background-color: #FFABAB;
box-shadow: 0 4px 6px ;
}

button a {
color: white;
text-decoration: none;
}
